---
---

$color-purple: #795786;
$color-yellow: #f9c700;
$color-black: #000;
$color-white: #fff;
$color-gray: #8E908C;
$color-blue: #3E999F;
$color-green: #718C00;
$color-orange: #F5871F;
$nav-height: 100px;
$mobile-nav-height: 75px;
$narrow-width: 75%;
$intro-heading-width: 62.5%;
$heading-font: 'Benton Sans Cond Book';
$line-height: 1.6em;
$heading-line-height: 1.3;
$section-padding: 75px;
$mobile-section-padding: 50px;
$intro-section-padding: 66px;
$nav-box-shadow: rgba(0, 0, 0, .15);
$heading-width-breakpoint: 800px;
$column-breakpoint: 700px;
$documentation-breakpoint: 960px;


* {
  box-sizing: border-box;
}

%clearfix {

  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

%narrow-text {
  width: $narrow-width;

  @media only screen and (max-width: $heading-width-breakpoint) {
    width: auto;
  }
}

%subheading {
  font-family: $heading-font;
  font-size: 2em;
  letter-spacing: 1px;
  line-height: $heading-line-height;
  font-style: italic;
}

%fintech-icons {
  background-size: contain;
  content: '';
  display: block;
  height: 84px;
  width: 84px;
}

%list {
  display: flex;
  padding: 0;
  width: 100%;
  li {
    flex: 1;
  }
}

%icon-list {
  @extend %list;
  li {
    a {
      &:before {
        margin-right: 30px;
        vertical-align: bottom;
        content: "";
        display: inline-block;
        width: 45px;
        height: 45px;
      }
    }
  }
}

body {
  font-family: 'BentonSans Regular';
  font-size: 18px;
  line-height: $line-height;
  margin: 0;

  @media only screen and (max-width: $column-breakpoint) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  &, &:visited {
    color: inherit;
  }
}

section {
  padding: $section-padding 0;

  @media only screen and (max-width: $column-breakpoint) {
    padding: $mobile-section-padding 0;
  }
}

h1 {
  font-family: $heading-font;
  font-size: 60px;
  font-weight: normal;
  letter-spacing: -.75px;
  line-height: $heading-line-height;
  margin: 0 0 24px;
  font-style: italic;

  @media only screen and (max-width: $column-breakpoint) {
    font-size: 50px;
  }
}

h2 {
  font-family: $heading-font;
  font-size: 45px;
  font-weight: normal;
  letter-spacing: -.75px;
  line-height: $heading-line-height;
  margin: 0 0 24px;
  font-style: italic;

  @media only screen and (max-width: $column-breakpoint) {
    font-size: 40px;
  }
}


p {
  margin: $line-height 0;
}

ul {
  list-style-type: none;
}

.lz-text {
  text-transform: uppercase;
}

.container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 60px;
  padding-right: 60px;

  @media only screen and (max-width: $column-breakpoint) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.nav {
  background-color: $color-purple;
  position: absolute;
  width: 100%;

  .container {
    display: block;
    height: $nav-height;
    line-height: $nav-height;

    * {
      vertical-align: middle;
      padding-right: 45px;
    }

    @media only screen and (max-width: $column-breakpoint) {
      height: $mobile-nav-height;
      line-height: $mobile-nav-height;
      * {
        padding-right: 30px;
      }
    }

    *:last-child {
      padding-right: 0;
    }
  }

  &__repo {
    font-family: $heading-font;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: $color-white;
    line-height: 1.5;
    font-style: italic;
  }
}

.sticky-nav {

  .nav {
    background-color: $color-white;
    box-shadow: 0 4px 8px $nav-box-shadow;
    position: fixed;
  }
}

.intro {
  background-color: $color-purple;
  padding-top: $nav-height + $intro-section-padding;
  color: $color-white;

  h1 {
    font-size: 75px;
  }

  h1, h2 {
    width: $intro-heading-width;

    @media only screen and (max-width: $heading-width-breakpoint) {
      width: auto;
    }
  }

  &__paragraph {
    @extend %narrow-text;
  }

  .cta {
    margin-top: 50px;
  }

  &__paragraph:last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: $column-breakpoint) {
    padding-top: $mobile-nav-height + $mobile-section-padding;
  }
}

.cta {
  background-color: $color-black;
  color: $color-white;
  display: table;
  line-height: 50px;
  padding: 0 50px;
}

.code {
  &__keyword {
    color: $color-purple;
  }
  &__name {
    color: $color-blue;
  }
  &__string {
    color: $color-green;
  }
  &__class {
    color: $color-orange;
  }
  &__comment {
    color: $color-gray;
  }
}

.get-started {
  background-color: $color-black;
  color: $color-white;

  h1 {
    @extend %narrow-text;
  }

  &__paragraph {
    @extend %narrow-text;
    a {
      font-weight: bold;
      &:visited {
        color: inherit;
      }
    }
  }

  code {
    display: block;
    white-space: pre-wrap;
  }

  code, &__paragraph {
    margin-bottom: 60px;
  }
}

.documentation {
  background-color: $color-white;

  ul {
    @extend %icon-list;
    @extend %narrow-text;
    li {
      @extend %subheading;
    }
  }

  @media only screen and (max-width: $documentation-breakpoint) {
    ul {
      display: inherit;
      li {
        padding-bottom: 20px;
      }
    }
  }

  #documentation_docs a:before {
    background: url('../images/icons/document.svg') no-repeat;
  }

  #documentation_code a:before {
    background: url('../images/icons/code.svg') no-repeat;
  }

  #documentation_package a:before {
    background: url('../images/icons/package.svg') no-repeat;
  }
}

.features {
  background-color: $color-purple;

  h2 {
    @extend %subheading;
  }

  &__list {
    @extend %list;
    flex-wrap: wrap;
    li {
      flex: initial;
      width: 50%;
      &:nth-child(odd) {
        padding-right: 25px;
      }
      &:nth-child(even) {
        padding-left: 25px;
      }
    }
    @media only screen and (max-width: $column-breakpoint) {
      display: block;
      li {
        width: 100%;
        padding-bottom: 20px;
        &:nth-child(odd) {
          padding-right: 0;
        }
        &:nth-child(even) {
          padding-left: 0;
        }
      }
    }
  }
}

.support {
  background-color: $color-black;
  color: $color-white;

  ul {
    @extend %icon-list;
    @extend %narrow-text;
    margin-bottom: 50px;
    li {
      @extend %subheading;
      &:last-child {
        flex: 2;
      }
    }
  }

  @media only screen and (max-width: $column-breakpoint) {
    ul {
      display: inherit;
      li {
        padding-bottom: 20px;
        &:first-child, &:last-child {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  #support_slack a:before {
    background: url('../images/logos/slack.svg') no-repeat;
  }

  #support_github a:before {
    background: url('../images/logos/github.svg') no-repeat;
  }
}

.greeting {
  @extend %subheading;
  margin: 0;
}

footer {
  background-color: $color-black;
  height: 100px;

  small {
    color: $color-white;
    font-size: 10px;
  }
  .footer__logo {
    background: url('../images/logos/labzero.svg') no-repeat;
    background-size: contain;
    height: 20.5px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 145px;
    a {
      text-indent: 102%;
      display: block;
    }
  }
}

.cta,
[type="submit"] {
  max-width: 350px;
  text-align: center;
  width: 100%;
}
